<section
    class="landing-section bg-black w-screen h-screen text-center relative overflow-hidden"
    data-header-color="black"
>
    <div class="relative z-30 h-full flex flex-col">
        <header>
            <h2 class="text-black pt-52 text-[40px] font-medium">
                Model Y
            </h2>
            <p class="text-black text-sm underline">
                Concertar una prueba de conducción
            </p>
        </header>
        <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
            <div class="gap-x-6 flex mx-auto">
                <a
                    class="bg-white text-sm rounded font-medium text-black px-12 py-2"
                    href="#">Explorar inventario</a
                >
                <a
                    class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2"
                    href="#">Pedido personalizado</a
                >
            </div>
        </footer>
    </div>

    <div class="z-10">
        <img src="/model-y.webp" alt="Model y" class="absolute top-0 w-screen h-screen object-cover">
    </div>
</section>
